<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25C56</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MIDI Monitor</string>
	<key>CFBundleGetInfoString</key>
	<string>MIDI Monitor driver version 1.5, Copyright 2002-2021, Kurt Revis</string>
	<key>CFBundleIdentifier</key>
	<string>com.snoize.MIDIMonitorDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.5.4</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>4FA13C6B-2D94-11D6-8C2F-000A27B4965C</key>
		<string>NewSpyingMIDIDriver</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>ECDE9574-0FE4-11D4-BB1A-0050E4CEA526</key>
		<array>
			<string>4FA13C6B-2D94-11D6-8C2F-000A27B4965C</string>
		</array>
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25C57</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.2</string>
	<key>DTSDKBuild</key>
	<string>25C57</string>
	<key>DTSDKName</key>
	<string>macosx26.2</string>
	<key>DTXcode</key>
	<string>2620</string>
	<key>DTXcodeBuild</key>
	<string>17C52</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
</dict>
</plist>
